* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    color: rgb(70, 70, 70);
    background: rgb(221, 219, 219);
    font-size: 1em;
    font-family: "Sagoe UI", sans-serif;
    line-height: 135%;
}

a {
    color: rgb(122, 9, 47);
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:hover {
    color: rgb(14, 190, 73);
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active {
    color: rgb(195, 228, 10);
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.right {float: right;}
.left {float: left;}
.clear {clear: both;}

/*Block for selection*/

::selection {
    background-color: red, color #fff;
}

header, footer {
    width: 98%;
    background-color: white;
    float: left;
   
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
}

#logo {
    font-size: 2em;
    font-family: monospace;
    color: silver;
}

.contact {
    font-size: 1.5em;
    font-family: monospace;
    margin-left: 20px;
}

input[type=text].field {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}

input[type=text].field:focus {
    border: 2px solid rgb(212, 116, 116);
}

/* Footer style*/

#menu {
    color: #666;
    font-family: monospace;
    font-size: 1.7em;
}

#menu hr {
    width: 500px;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

hr {
    display: block;
    border: 0px;
    height: 1px;
    border-top: 1px solid red;
    padding: 0%;
}

#menuHrefs a {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: rgb(146, 17, 17);
}

#menuHrefs a:hover {
    background-color: gray;
}

/* based style*/

#wrapper {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#wrapper #articles {
    float: left;
    width: 80%;
    margin-left: 10%;
} 

#wrapper #articles article {
    float: left;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: slategrey;
    min-height: 400px;
}

@media (min-width: 900px) {
    #wrapper #articles article {
        width: 31.3%;
        margin-right: 2%;
    }
}

@media (max-width: 899px)and(min-width: 700px) {
    #wrapper #articles article {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;
    }
}

@media (min-max: 699px) {
    #wrapper #articles article {
        width: 100%;
        margin-bottom: 10px;
    }
}

#wrapper #articles article  img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

#wrapper #articles article h2 {
    width: 90%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 1.7em;
    color: black;
    font-family: fantasy;
}

#wrapper #articles article p {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    text-indent: 1em;
    font-size: 150%;
    color: black;
    text-align: center;
}

#wrapper #articles article a {
    padding:10px 5px;
    background-color: rgb(63, 37, 211);
    margin-left: 5%;
    border-radius: 50px;
    color: #fff;
    float: left;
    margin-top: 10px;
    line-height: normal;
    margin-bottom: 10px;
}

#wrapper #articles article a:hover {
    background-color: green;
}

/* Page about us*/

#about_us {
    width: 60%;
    float: left;
    background-color: #fafafa;
    border-radius: 5%;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

#columRight {
    width: 30%;
    float: left;
    margin-left: 5%;
    background-color: #fafafa;
    border-radius: 5%;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

/* Page article1*/
#article1 {
    width: 60%;
    float: left;
    background-color: #fafafa;
    border-radius: 1%;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

#columRight_a {
    width: 30%;
    float: left;
    margin-left: 2%;
    background-color: #fafafa;
    border-radius: 2%;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

/* Style for form */

form {
    width: 60%;
    margin-left: 20%;
    float: left;
}

form label {
    float: left;
    margin-bottom: 10px;
    width: 100%;
   
}

form input {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    float: left;
    clear: both;
    margin-bottom: 10px;
    width: 40%;
}

form input:focus, form textarea:focus {
    border: 2px solid #f58b8b;
}

form textarea {
    width: 60%;
    float: left;
    clear: both;
    background-color: rgb(225, 233, 236);
    border: 2px solid silver;
    border-radius: 1%;
    padding: 8%;
    font-size: 1.5em;
}

form #send {
    float: left;
    padding: 10px;
    background-color: rgb(219, 145, 132);
    border-radius: 5%;
    margin-top: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

form #send:hover {
    background-color: rgb(202, 133, 42);
}

/* Central block */

#mainBlock {
    width: 100%;
    padding: 2% 0;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    margin: 20px 0;
    float: left;
    background: url(../img/sky.jpg) repeat-x center;
    height: 200px;
}



#mainBlock_in {
    text-align: center;
    padding: 1%;
    height: 150px;
    background-color: #fafafa;
    border: 1px solid silver;
    border-radius: 5%;
    width: 500px;
    max-width: 98%;
    box-sizing: border-box;
}

#mainBlock_in a {
    float: left;
    padding: 5px 15px;
    background-color: tomato;
    border-radius: 7px;
    color: #fff;
    margin-left: 35%;
    margin-top: 15px;
}

footer {
    border-top: 1% solid silver;
    margin-top: 10px;
    padding-bottom: 5%;
}

footer img {
    width: 1%;
    float: left;
    margin-right: 5px;
}

#page-wrap:after {
    content: "";
    display: block;
}

footer, #page-wrap::after {
    height: 10px;
}

#page-wrap {
    min-height: 94%;
    margin-bottom: -15px;
}